
<style>
  
  * { 
  text-align: center; 
  color: red;
  text-shadow: 0px 0px red;
}


h1 {
  color: red;
  text-align: center;
}

div{
  border : 20px solid blue;
  padding: 50px;
  margin:20px;
}

h2 {

  color: rgb(0, 38, 255);
  background-color: black;
  text-align: center;

}


p {
  text-align: center;
  color: rgb(17, 15, 15);
  font-size: 30px;

}

</style>


<div class="M">
  <h1>Templo del Gran Jaguar</h1>
  <p>
    El Templo del Gran Jaguar o Templo I, un templo funerario-ceremonial construido en el año 734 
    por la civilización maya, es la construcción principal de una de las ciudades más grandes del 
    período maya-clásico-tardío, Tikal, situada en la región de Petén,<br>
  </p>
  <h2>ALBIN ALEXANDER ARIAS ESTEBAN<br>
  0907-18-13901</h2>
</div>